@charset "UTF-8";

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif
}

img#logo {
    width: 75px;
    height: 20px;
    padding: 20px 0 0 13px;
}

.title-entrar {
    margin-bottom: 33px;
}

.container {
    max-width: 1200px;
    height: 510px;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
}

h1 {
    color: white;
    margin-bottom: 17px;
}

form {
    max-width: 430px;
    height: 245px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* background-color: white; */
}

.area-entrar {
    position: relative;
}

.area-entrar label {
    position: absolute;
    left: 5%;
    bottom: 1.75vh;
    transition: all 0.2s;
    cursor: text;
    color: gray;
}

input {
    width: 95%;
    height: 50px;
    border-radius: 4px;
    border: none;
    background-color: #333;
    color: white;
    padding: 0 0 0 5%;
}

.area-inputs{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inputs {
    font-size: 20px;
}

/* #lembrar {
    width: 15px;
    height: 15px;
    margin: 10px 3px 10px 0;
}
#lembrar:checked {
    background: rgba(0,0,0,0);
} */
input[type="checkbox"]:checked + label::after {
    content: '';
    position: absolute;
    width: 1.2ex;
    height: 0.4ex;
    background: rgba(0, 0, 0, 0);
    top: 0.9ex;
    left: 0.4ex;
    border: 3px solid black;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
 }
         
 input[type="checkbox"] {
    line-height: 2ex;
 }
         
 input[type="radio"],
    input[type="checkbox"] {
    position: absolute;
    left: -999em;
 }
         
 input[type="checkbox"] + label {
    position: relative;
    overflow: hidden;
    cursor: pointer;
 }
         
 input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    vertical-align: -25%;
    height: 2ex;
    width: 2ex;
    background-color: gray;
    border: 1px solid rgb(166, 166, 166);
    border-radius: 3px;
    margin-right: 0.5em;
 }


input#entrar {
    background-color: red;
    color: white;
    font-size: large;
    font-weight: bold;
    padding: 0;
    width: 100%;
}

.ajuda {
    display: flex;
    justify-content: space-between;
    color: #979292;
}

.remember-area {
    display: flex;
    align-items: center;
    justify-self: end;
}

a {
    text-decoration: none;
    margin: 10px 3px 10px 0;;
}

a:hover {
    text-decoration: underline;
}

#precisa-ajuda {
    vertical-align: middle;
    color: gray;
}

form .area-entrar .inputs:focus ~ label,
form .area-entrar .inputs:valid ~ label {
    transform: translateY(-15px);
    font-size: small;
    color: gray;
    outline: none
}

p {
    color: rgb(169, 164, 164);
}

#divisa {
    border-top: 1px solid rgb(100, 100, 100);
}